@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" type="text/css" href="/CSS/CSSForm.css" />
@*<p>These are HTML helpers</p>
<br />
@Html.ActionLink("Home", "Home")
<br />
@Html.ActionLink("About Amelia", "About")
<br />
@Html.ActionLink("List of Art", "ListAll")
<br />
<p>These are Tag helpers</p>
<br />*@
<a asp-action="Home">Home</a>
<br />
<a asp-action="About">About Amelia</a>
<br />
<a asp-action="ListAll">Artwork</a>
<br />
<a href="mailto:millie1398@gmail.com" style="color: deeppink"
   subject="subject text">
    Email me if you want to set up an apointment.
</a>

