@model Web_Dev_Project.Models.Art
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h1>Adding new art ...</h1>
    @using (Html.BeginForm())
    {

        @Html.EditorForModel()
        <input type="submit" value="Add some Art!" />
    }
    @await Html.PartialAsync("_MyPartialView")
</body>
</html>
